@model Project.Domain.Entities.Tip

@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-md-6">
        <h1>@Model.Name</h1>
        <div>
            <p>
                <strong>Author:</strong> @Model.AutorId
            </p>
        </div>
        <div style="margin-top: 30px;"></div>

        <!-- Apply CSS styles to limit the width and handle overflow for the instructions text -->
        <div style="max-width: 100%; overflow-wrap: break-word;">
            <p>@Model.Text</p>
        </div>
    </div>

    <div class="col-md-6">
        <div>
            <img src="@Model.ImageSrc" alt="@Model.Name" class="img-fluid" />
        </div>
    </div>
</div>

<style>
    body {
        background-color: #F6F1EE;
    }
</style>